## IMPORT Segement data CSV'S

#### Source

- Air Carriers : T-100 Domestic Segment (All Carriers)
 - https://www.transtats.bts.gov/DL_SelectFields.aspx?gnoyr_VQ=GEE&QO_fu146_anzr=Nv4%20Pn44vr45
- Air Carriers : T-100 International Segment (All Carriers)
 - https://www.transtats.bts.gov/DL_SelectFields.aspx?gnoyr_VQ=FJE&QO_fu146_anzr=Nv4%20Pn44vr45

#### selected fields:
DepScheduled; DepPerformed; Seats; Passengers; Distance; UniqueCarrier; Origin; Dest; AircraftType; Year; Quarter; Month; Distance Group; Class

In [2]:
import glob
import pandas as pd

catchment = "\\Massachusetts\\"

root = r'c:\\users\\user\\Documents\\JCU\\MA 5853 Data Science Project 1\\Data\\Airport analysis\\'
path = r'\\Segment T100\\*.csv'

files = glob.glob(root+catchment+path)
dfs = [pd.read_csv(f, sep=",") for f in files]

df = pd.concat(dfs,ignore_index=True)


print(df.shape)

(97321, 14)

## Filter Airports for Survey

In [3]:
## California Airports 
#df = df[df['ORIGIN']=='FLL'] # comment in when needed

### Florida Airports
#FLL = df[df['ORIGIN']=='FLL'] # comment in when needed
#MIA = df[df['ORIGIN']=='MIA'] # comment in when needed
#PBI = df[df['ORIGIN']=='PBI'] # comment in when needed

### Massachusettes Airports
BOS = df[df['ORIGIN']=='BOS'] # comment in when needed
ACK = df[df['ORIGIN']=='ACK'] # comment in when needed


### New York Airports
#JFK = df[df['ORIGIN']=='JFK'] # comment in when needed
#EWR = df[df['ORIGIN']=='EWR'] # comment in when needed
#LGA = df[df['ORIGIN']=='LGA'] # comment in when needed


#df = pd.concat([FLL,MIA,PBI], ignore_index=True) # Florida airports
df = pd.concat([BOS,ACK], ignore_index=True) # Massachusettes Airports
#df = pd.concat([JFK,EWR,LGA], ignore_index=True) # New York Airports

df

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,UNIQUE_CARRIER,ORIGIN,DEST,AIRCRAFT_TYPE,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS
0,0.0,1.0,50.0,38.0,752.0,OH (1),BOS,CVG,628,2012,1,2,2,F
1,0.0,2.0,100.0,51.0,399.0,OH (1),BOS,DCA,628,2012,1,2,1,F
2,0.0,1.0,65.0,57.0,632.0,OH (1),BOS,DTW,631,2012,1,2,2,F
3,0.0,1.0,50.0,43.0,187.0,OH (1),BOS,JFK,628,2012,1,2,1,F
4,0.0,2.0,100.0,91.0,612.0,OH (1),BOS,RDU,628,2012,1,2,2,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44136,159.0,157.0,1413.0,569.0,31.0,9K,ACK,HYA,125,2022,2,4,1,F
44137,187.0,185.0,1665.0,757.0,31.0,9K,ACK,HYA,125,2022,2,5,1,F
44138,189.0,187.0,1683.0,669.0,31.0,9K,ACK,HYA,125,2022,1,3,1,F
44139,222.0,219.0,1971.0,1114.0,91.0,9K,ACK,BOS,125,2022,2,4,1,F
44140,285.0,281.0,2529.0,1504.0,91.0,9K,ACK,BOS,125,2022,2,5,1,F

## Filter for those airlines needed for review

In [4]:
df2 = df


AA = df[df['UNIQUE_CARRIER']=='AA']
AS = df[df['UNIQUE_CARRIER']=='AS']
B6 = df[df['UNIQUE_CARRIER']=='B6']
DL = df[df['UNIQUE_CARRIER']=='DL']
NK = df[df['UNIQUE_CARRIER']=='NK']
UA = df[df['UNIQUE_CARRIER']=='UA']
WN = df[df['UNIQUE_CARRIER']=='WN']

df = pd.concat([AA, AS, B6, DL, NK, UA, WN], ignore_index=True)
df

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,UNIQUE_CARRIER,ORIGIN,DEST,AIRCRAFT_TYPE,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS
0,1.0,1.0,247.0,117.0,1562.0,AA,BOS,DFW,627,2012,2,4,4,F
1,1.0,1.0,190.0,127.0,1010.0,AA,BOS,JAX,622,2012,2,4,3,F
2,1.0,1.0,188.0,106.0,1260.0,AA,BOS,LIT,622,2012,2,4,3,F
3,1.0,1.0,174.0,173.0,867.0,AA,BOS,ORD,622,2012,2,4,2,F
4,1.0,1.0,190.0,165.0,612.0,AA,BOS,RDU,622,2012,2,4,2,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27791,81.0,81.0,11583.0,9856.0,1047.0,WN,BOS,STL,612,2022,2,5,3,F
27792,93.0,92.0,13156.0,10567.0,369.0,WN,BOS,BWI,612,2022,1,3,1,F
27793,96.0,77.0,11011.0,6791.0,369.0,WN,BOS,BWI,612,2022,1,1,1,F
27794,138.0,138.0,19734.0,15984.0,369.0,WN,BOS,BWI,612,2022,2,4,1,F
27795,152.0,150.0,21450.0,17499.0,369.0,WN,BOS,BWI,612,2022,2,5,1,F

### Drop columns with no values

In [5]:
df.dropna(axis=1, how='all')

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,UNIQUE_CARRIER,ORIGIN,DEST,AIRCRAFT_TYPE,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS
0,1.0,1.0,247.0,117.0,1562.0,AA,BOS,DFW,627,2012,2,4,4,F
1,1.0,1.0,190.0,127.0,1010.0,AA,BOS,JAX,622,2012,2,4,3,F
2,1.0,1.0,188.0,106.0,1260.0,AA,BOS,LIT,622,2012,2,4,3,F
3,1.0,1.0,174.0,173.0,867.0,AA,BOS,ORD,622,2012,2,4,2,F
4,1.0,1.0,190.0,165.0,612.0,AA,BOS,RDU,622,2012,2,4,2,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27791,81.0,81.0,11583.0,9856.0,1047.0,WN,BOS,STL,612,2022,2,5,3,F
27792,93.0,92.0,13156.0,10567.0,369.0,WN,BOS,BWI,612,2022,1,3,1,F
27793,96.0,77.0,11011.0,6791.0,369.0,WN,BOS,BWI,612,2022,1,1,1,F
27794,138.0,138.0,19734.0,15984.0,369.0,WN,BOS,BWI,612,2022,2,4,1,F
27795,152.0,150.0,21450.0,17499.0,369.0,WN,BOS,BWI,612,2022,2,5,1,F

In [6]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
DEPARTURES_SCHEDULED,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
DEPARTURES_PERFORMED,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
SEATS,247.0,190.0,188.0,174.0,190.0,148.0,140.0,225.0,188.0,148.0
PASSENGERS,117.0,127.0,106.0,173.0,165.0,141.0,87.0,207.0,74.0,143.0
DISTANCE,1562.0,1010.0,1260.0,867.0,612.0,926.0,1562.0,1258.0,867.0,632.0
UNIQUE_CARRIER,AA,AA,AA,AA,AA,AA,AA,AA,AA,AA
ORIGIN,BOS,BOS,BOS,BOS,BOS,BOS,BOS,BOS,BOS,BOS
DEST,DFW,JAX,LIT,ORD,RDU,RFD,DFW,MIA,ORD,DTW
AIRCRAFT_TYPE,627,622,622,622,622,614,655,626,622,614
YEAR,2012,2012,2012,2012,2012,2012,2012,2012,2012,2012
QUARTER,2,2,2,2,2,2,1,1,1,3
MONTH,4,4,4,4,4,4,2,2,2,8
DISTANCE_GROUP,4,3,3,2,2,2,4,3,2,2
CLASS,F,F,F,F,F,F,F,F,F,F

In [7]:
print('Matrix configuration Rows x Columns : ', df.shape[0], 'x', df.shape[1])
print('Features of recommender: ', df.columns.tolist())
print('\nUnique values of dataset:')
print(df.nunique())
for col in df.columns:
    print(col, end=': ')
    print(df[col].unique())

Matrix configuration Rows x Columns :  27796 x 14
Features of recommender:  ['DEPARTURES_SCHEDULED', 'DEPARTURES_PERFORMED', 'SEATS', 'PASSENGERS', 'DISTANCE', 'UNIQUE_CARRIER', 'ORIGIN', 'DEST', 'AIRCRAFT_TYPE', 'YEAR', 'QUARTER', 'MONTH', 'DISTANCE_GROUP', 'CLASS']

Unique values of dataset:
DEPARTURES_SCHEDULED      368
DEPARTURES_PERFORMED      362
SEATS                    6229
PASSENGERS              10379
DISTANCE                  192
UNIQUE_CARRIER              7
ORIGIN                      2
DEST                      189
AIRCRAFT_TYPE              34
YEAR                       11
QUARTER                     4
MONTH                      12
DISTANCE_GROUP              6
CLASS                       4
dtype: int64
DEPARTURES_SCHEDULED: [  1.   2.   3.   4.   5.   6.   7.  21.  23.  26.  29.  30.  31.  32.
  33.  38.  50.  51.  57.  58.  59.  60.  61.  62.  82.  84.  87.  88.
  91.  92.  93.  94. 100. 101. 106. 107. 111. 116. 121. 123. 126. 131.
 133. 134. 135. 141. 143. 149. 177. 181. 183. 204. 205. 207. 209. 214.
 215. 216. 217. 220. 227. 235. 236. 251. 264. 270. 273. 285. 286.  10.
  28.  35.  37.  39.  43.  49.  79.  95. 105. 109. 115. 117. 118. 120.
 122. 124. 127. 140. 144. 150. 153. 154. 162. 171. 172. 175. 187. 197.
 198. 212. 213. 230. 258. 269. 283. 284. 296. 299. 309. 323. 330.   0.
  18.  24.  53.  55.  71.  76.  77.  78.  85.  86.  89.  96. 108. 110.
 119. 129. 136. 155. 159. 165. 178. 179. 184. 200. 211. 242. 255. 281.
 287. 293. 303. 310. 317. 320. 332.  11.  14.  16.  19.  25.  27.  34.
  36.  40.  42.  44.  45.  46.  48.  52.  54.  63.  66.  68.  69.  72.
  73.  81.  83.  90. 102. 112. 113. 125. 138. 142. 145. 148. 151. 157.
 166. 167. 174. 182. 195. 225. 238. 245. 249. 250. 252. 260. 265. 275.
 288. 290. 295. 297. 360. 363. 371. 378. 382. 384. 387. 391.   8.  12.
  15.  22.  41.  47.  56.  65.  67.  70.  74.  75.  80.  98.  99. 103.
 132. 139. 147. 156. 160. 161. 163. 173. 193. 208. 231. 234. 256. 268.
 271. 278. 292. 308. 311. 335. 340. 342. 344. 348. 350. 353. 358. 362.
 372. 373. 380. 383. 386. 388. 400. 406. 414. 415.   9.  13.  17.  20.
  64. 114. 130. 137. 152. 158. 180. 210. 219. 221. 222. 224. 237. 239.
 246. 248. 259. 298. 304. 364. 376. 396. 104. 168. 170. 186. 188. 192.
 196. 203. 206. 226. 228. 243. 253. 262. 267. 282. 291. 301. 322. 329.
 146. 164. 169. 201. 241. 244. 274. 305. 306. 313. 316. 325. 326.  97.
 128. 189. 272. 328. 339. 185. 199. 202. 229. 232. 261. 266. 176. 223.
 254. 240. 247. 257. 191. 279. 289. 321. 190. 300. 351. 352. 369. 194.
 347. 461. 277. 280. 412. 434. 440. 449. 475. 408. 302. 294. 346. 354.
 356. 307. 263. 218.]
DEPARTURES_PERFORMED: [  1.   2.   3.   4.   5.   6.   7.  21.  23.  26.  29.  28.  30.  31.
  32.  33.  38.  47.  51.  57.  58.  59.  61.  62.  60.  80.  81.  83.
  84.  88.  87.  79.  85.  89.  92.  90.  94.  97.  99. 106. 105. 104.
 116. 110. 117. 123. 121. 130. 133. 125. 141. 138. 132. 139. 170. 181.
 182. 198. 204. 202. 205. 214. 206. 208. 216. 220. 222. 230. 226. 244.
 260. 269. 272. 281.  10.  20.  35.  37.  39.  40.  49.  50.  56.  78.
  91.  95. 108. 101. 109. 115. 120. 118. 122. 124. 142. 148. 149. 152.
 150. 153. 154. 159. 168. 166. 175. 162. 178. 185. 201. 212. 211. 215.
 217. 223. 257. 266. 274. 292. 299. 304. 323. 326.  18.  24.  27.  36.
  52.  55.  71.  75.  76.  93.  96. 111. 126. 129. 137. 143. 151. 147.
 164. 169. 184. 197. 196. 252. 286. 297. 302. 309. 318. 330.  11.  14.
  16.  19.  22.  25.  34.  42.  43.  45.  46.  48.  53.  54.  63.  65.
  68.  69.  64.  73.  77.  82. 102. 112. 119. 140. 145. 156. 167. 171.
 192. 213. 225. 232. 234. 236. 231. 243. 248. 246. 254. 261. 273. 285.
 289. 291. 290. 305. 357. 349. 358. 352. 368. 366. 383. 380. 386.   8.
  12.  13.  15.  41.  44.  67.  66.  70.  72.  74.  86.  98. 100. 103.
 113. 107. 131. 134. 144. 146. 157. 160. 163. 173. 176. 183. 191. 207.
 219. 228. 256. 268. 271. 278. 308. 306. 331. 329. 342. 350. 348. 369.
 378. 379. 370. 382. 395. 402. 408. 400.   9.  17. 114. 127. 135. 136.
 158. 161. 172. 165. 174. 194. 195. 200. 189. 224. 238. 218. 235. 241.
 282. 288. 298. 300. 294. 301. 335. 367. 385. 388. 128. 179. 177. 190.
 193. 203. 209. 240. 253. 259. 263. 262. 270. 267. 296. 325. 155. 180.
 221. 229. 258. 280. 275. 307. 328. 338. 237. 186. 283. 327. 199. 210.
 245. 227. 233. 250. 247. 242.   0. 255. 188. 265. 279. 277. 311. 310.
 319. 187. 295. 324. 373. 276. 346. 362. 293. 355. 460. 442. 452. 336.
 343. 387. 392. 375. 249. 303. 322. 239. 344. 354. 287. 284.]
SEATS: [  247.   190.   188. ... 14729. 14014. 18161.]
PASSENGERS: [  117.   127.   106. ...  6791. 15984. 17499.]
DISTANCE: [1562. 1010. 1260.  867.  612.  926. 1258.  632. 1597.  187. 2611. 1121.
 1139. 1197. 1764. 1423.  413. 1572. 1256. 1505.  740. 1249.  942.  860.
 1698. 1394. 1047.  818. 1693.  200.  184.  280. 1124. 2300.  170. 1312.
  932. 1433. 1774. 1718. 2694.  343. 1237.  468. 2381.   91.  795.  829.
  265. 2566.  399. 1754. 1974. 1595. 2289.  728. 1468. 1670.  474. 1368.
 2105. 1050.  496.  369. 1710.  799.  645.  335.  946.  709.   95.  640.
  830.   45. 1185. 1282.   49. 2067.  738.  672. 1996. 1220. 2496. 2537.
 2588. 1304. 1086. 2274. 2488. 1866. 2489. 2704. 2689. 2265. 2636. 2517.
  395. 2426. 2494.  253. 1609.  166.   70.  181. 1367. 2602. 1674. 1660.
  145.  274.   50. 1068. 1778. 1988. 1092. 1519.  901. 1554. 2524.  641.
  563. 1613. 1108.  590.  974.  396. 1871. 2601. 2286. 1076.   61. 1248.
  489. 1991. 1947.  788. 1373. 1966.  191.  199.   78.  117.  405.  144.
  202.  218.   16.  667.  861.  650. 2199.  553.  634.  693.  752. 1254.
 1193. 1089. 1328. 1027.  168.  661. 1005.   55. 1302. 2592. 1040.  749.
 2364. 1165. 1605.  872.  917. 1409. 1490.  778. 2538.    0.  201. 1381.
 2271. 1098. 1665. 1779. 1737. 1333. 1493.  259.  153. 1795.  549.  622.]
UNIQUE_CARRIER: ['AA' 'AS' 'B6' 'DL' 'NK' 'UA' 'WN']
ORIGIN: ['BOS' 'ACK']
DEST: ['DFW' 'JAX' 'LIT' 'ORD' 'RDU' 'RFD' 'MIA' 'DTW' 'IAH' 'JFK' 'LAX' 'MCO'
 'MEM' 'PBI' 'SAT' 'SHV' 'IAD' 'AFW' 'MCI' 'OKC' 'GRR' 'RSW' 'BNA' 'MKE'
 'AUS' 'TUL' 'STL' 'IND' 'STT' 'EWR' 'LGA' 'PHL' 'MSP' 'PHX' 'SWF' 'XNA'
 'MSN' 'ICT' 'LBB' 'AMA' 'OAK' 'ROC' 'FLL' 'ORF' 'LAS' 'BDL' 'GSP' 'SDF'
 'SYR' 'ONT' 'DCA' 'DEN' 'ABQ' 'SPS' 'TUS' 'CLT' 'GGG' 'GRK' 'RIC' 'MSY'
 'SLC' 'BHM' 'CHS' 'PIT' 'BWI' 'ABI' 'CAE' 'GSO' 'MDT' 'ATL' 'DAY' 'PWM'
 'CMH' 'TYS' 'MHT' 'TPA' 'OMA' 'PVD' 'ELP' 'MYR' 'ILM' 'JAC' 'SRQ' 'SEA'
 'PDX' 'SAN' 'FAR' 'DLH' 'GEG' 'PAE' 'BIL' 'BLI' 'SFO' 'SJC' 'BOI' 'SMF'
 'PSP' 'BUF' 'YKM' 'BFI' 'AVP' 'HOU' 'HPN' 'MVY' 'BTV' 'ACK' 'LGB' 'SJU'
 'BQN' 'ALB' 'ACY' 'PSM' 'DAB' 'COS' 'GTF' 'MGM' 'MOT' 'ORH' 'FWA' 'SAV'
 'DAL' 'RNO' 'YIP' 'CLE' 'RAP' 'TLH' 'ROA' 'PIA' 'HDN' 'BUR' 'AZA' 'GNV'
 'HYA' 'MOB' 'CHO' 'BZN' 'MTJ' 'SBN' 'EYW' 'GJT' 'BOS' 'BED' 'MBS' 'MDW'
 'FNT' 'TWF' 'BKL' 'PTK' 'LAN' 'CVG' 'MKC' 'PIE' 'RST' 'GFK' 'LSE' 'AGS'
 'FRG' 'TOL' 'HSV' 'FMH' 'FSD' 'SNA' 'CPS' 'TVC' 'PSC' 'DSM' 'EFD' 'GRB'
 'CHA' 'FOE' 'AEX' 'BIS' 'LEX' 'VCV' 'PBG' 'BTR' 'SGU' 'SFB' 'BFF' 'PUB'
 'CYS' 'LNK' 'LCH' 'LAR' 'ABE' 'ISP' 'CRP' 'CAK' 'CRW']
AIRCRAFT_TYPE: [627 622 614 655 626 625 699 698 694 687 678 696 838 637 721 634 888 612
 839 724 650 623 656 624 819 608 723 359 339 722 616 837 889 619]
YEAR: [2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022]
QUARTER: [2 1 3 4]
MONTH: [ 4  2  8 11  3  5  9  1 10  6  7 12]
DISTANCE_GROUP: [4 3 2 1 6 5]
CLASS: ['F' 'L' 'G' 'P']

In [8]:
df['ASM'] = df['SEATS']*df['DISTANCE']
df['RPM'] = df['PASSENGERS']*df['DISTANCE']

df['Category'] = "Dom"
df['Dates'] = pd.to_datetime(df.YEAR.astype(str) + '-' + df.MONTH.astype(str))
df

## Export the data

In [11]:
import os

pp = "Segment_preprocesseddata2.csv"
path_to_file = os.path.join(root+catchment, pp)
df.to_csv(path_to_file, index=False)

# dataframe struture post conversions
df.info()

print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27796 entries, 0 to 27795
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DEPARTURES_SCHEDULED  27796 non-null  float64
 1   DEPARTURES_PERFORMED  27796 non-null  float64
 2   SEATS                 27796 non-null  float64
 3   PASSENGERS            27796 non-null  float64
 4   DISTANCE              27796 non-null  float64
 5   UNIQUE_CARRIER        27796 non-null  object
 6   ORIGIN                27796 non-null  object
 7   DEST                  27796 non-null  object
 8   AIRCRAFT_TYPE         27796 non-null  int64
 9   YEAR                  27796 non-null  int64
 10  QUARTER               27796 non-null  int64
 11  MONTH                 27796 non-null  int64
 12  DISTANCE_GROUP        27796 non-null  int64
 13  CLASS                 27796 non-null  object
 14  ASM                   27796 non-null  float64
 15  RPM                   27796 non-null  float64
 16  Category              27796 non-null  object
 17  Dates                 27796 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(5), object(5)
memory usage: 3.8+ MB
(27796, 18)

In [12]:
agg_tbl = df.groupby(['Dates','UNIQUE_CARRIER',"Category","YEAR","MONTH"], as_index = False).agg(
     {     
    'DEPARTURES_SCHEDULED':sum,
     'DEPARTURES_PERFORMED':sum,
     'SEATS':sum,
     'PASSENGERS':sum,
     'ASM':sum,
     'RPM':sum     
     }
 )
agg_tbl

agg_tbl=agg_tbl.rename(columns = {'UNIQUE_CARRIER':'Airline','DEPARTURES_SCHEDULED': 'Flights Scheduled','DEPARTURES_PERFORMED': 'Flights','PASSENGERS':'PAX'}) # rename ds column

In [13]:
agg_tbl['LF'] = (agg_tbl['RPM']/agg_tbl['ASM'])*100

analysis = "ForecastData2.csv"
path_to_file = os.path.join(root+catchment, analysis)
agg_tbl.to_csv(path_to_file, index=False)